<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"
>
    <type name="Magento\Quote\Api\CartRepositoryInterface">
        <plugin name="HyvaCheckout_PurchaseOrderNumber_Plugin_Magento_Quote_Api_CartRepository"
                type="HyvaCheckout\PurchaseOrderNumber\Plugin\Magento\Quote\Api\CartRepository"/>
    </type>

    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="HyvaCheckout_PurchaseOrderNumber_Plugin_Magento_Sales_Api_OrderRepository"
                type="HyvaCheckout\PurchaseOrderNumber\Plugin\Magento\Sales\Api\OrderRepository"/>
    </type>
</config>
